@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.top-packages-section {
    padding: 40px 20px;
    background-color: #31b3a8de;
    text-align: center;
    border: 2px solid red;
}

.top-packages-section h2 {
    /* margin-bottom: 10px; */
    margin-top: 4rem;
    font-size: 3.6rem;
    color: #333;
}

.packages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    padding: 3rem 5rem;
    width: 100%;
    height: auto;
    background-color: rgba(255, 192, 203, 0.336);
}

.package-card {
    border-radius: 12px;
    overflow: hidden;
    /* height: auto; */
    /* width: 300px; */

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.package-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.452);
    cursor: pointer;
}

/* .package-image {
    width: auto;
    height: 480px;
    object-fit: cover;
} */

.package-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    margin: 5px;
}

.package-card p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin: 10px;
}

@media screen and (max-width: 480px) {
    .package-card p {
        font-size: 0.8rem;
    }
}
