@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap");

:root {
    --spacing500: 0px 0px 0px;
    --nav-logo-width: 100px;
    --spacing-800: 64px;
    --spacing-600: 48px;
}
.navigation {
    display: flex;
    padding: 0;
    padding-top: 40px;
    align-items: center;
    gap: -32px;
    align-self: stretch;
}
.nav-logo {
    display: flex;
    padding-left: var(--spacing-800, 64px);
    align-items: center;
    gap: var(--spacing-800, 64px);
    flex: 1 0 0;
}
.nav-logo img {
    width: 48px;
    height: var(--spacing-600, 48px);
}
.nav-links {
    display: flex;
    min-width: 664px;
    padding: 0px var(--spacing-800, 64px);
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-600, 48px);
    flex: 1 0 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
}
.nav-link {
    display: flex;
    height: 96px;
    border-bottom: 3px solid #ffffff00;

    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    transition: border-bottom 0.3s ease-in;
}
.nav-link:hover {
    border-bottom: 3px solid var(--color-white, #fff);
}
.nav-link a {
    color: var(--color-white, #fff);

    /* desktop/text-preset-8 */
    font-family: "Barlow Condensed";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}
